 html {
    font-family: "Raleway", "Helvetica", sans-serif;
    font-weight: 400;
    color: #2F3442;
    height: 100%;
    background-color: #FFFFFF;
}

.icon {color: #BCD2DA;}

.card {
    display:flex;
    flex-flow: column nowrap;
    border: 1px solid #CAD0D2;
    border-radius: 4px;
    overflow: hidden;
}

.card__description {
    flex: auto;

    /* display, flex-direction, justify-content, align-items */ 
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 15px 0;
}

.card__descriptionIcon {font-size: 32px; margin-bottom: 10px;}

.card__descriptionText {
    color: #57727C;
    font-size: 12px;
    text-align: center;
    max-width: calc(100% - 30px);
}

.card__price {
    text-align: center;
    color: #57727C;
    font-size: 12px;
    font-weight: 700;
    padding: 5px 15px;
    border-top: 1px solid #D7DBDD;
    background-color: #EEF3F5;
}

.cardGroup {
    width: 710px;
    display: flex;
    flex-flow: row nowrap;
  
    border: 1px solid #CAD0D2;
    border-radius: 4px;
    overflow: hidden;
  }
  
    .cardGroup__card {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 0;
  
      border: none;
      border-radius: 0;
    }
  
    .cardGroup__card {
      border-left: 1px solid #D7DBDD;
    }
  
    .cardGroup__cardDescription {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 0;
    }


/*---VERSAO MOBILE--- */

@media screen and (max-width: 768px) {


.card__description {
    flex-grow: 2;
    display: flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items: center;
    /* display, flex-direction, justify-content, align-items */
    padding: 15px;
}



.card__descriptionText {
    margin: 0 15px;
    
    
}

.card__price {
     width: 20%;
    
    display: flex;
    flex-flow:column nowrap;
    justify-content: center;
    padding: 5px 15px;
    border-left: 1px solid #D7DBDD;
    border-top: 0;

}

.cardGroup {
    width: 320px;
    
    display: flex;
    flex-flow: column nowrap;

  }
  
.cardGroup__card {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items:stretch;
  border: 1px solid #CAD0D2;


  
}
  


}